.material-checkbox-list-item {
  grid-template-columns: minmax(0, 1fr) auto;
  cursor: pointer;
}

.material-checkbox-list-item--checkbox-leading {
  grid-template-columns: auto minmax(0, 1fr);
}

.material-checkbox-list-item:has(.material-checkbox-list-item__leading) {
  grid-template-columns: auto minmax(0, 1fr) auto;
}

.material-checkbox-list-item--checkbox-leading:has(.material-checkbox-list-item__leading) {
  grid-template-columns: auto auto minmax(0, 1fr);
}

.material-checkbox-list-item > .material-checkbox {
  position: relative;
  z-index: 4;
}

.material-checkbox-list-item--checkbox-leading > .material-checkbox {
  margin-inline-end: var(--md-list-between-space);
}

.material-checkbox-list-item--checkbox-trailing > .material-checkbox {
  margin-inline-start: var(--md-list-between-space);
}

.material-checkbox-list-item--disabled {
  cursor: default;
}

.material-checkbox-list-item:focus-within {
  border-radius: var(--md-list-item-focused-shape);
}

.material-checkbox-list-item__leading[data-type='avatar'] {
  inline-size: var(--md-list-leading-avatar-size);
  block-size: var(--md-list-leading-avatar-size);
}

.material-checkbox-list-item__leading[data-type='image'] {
  inline-size: var(--md-list-leading-image-size);
  block-size: var(--md-list-leading-image-size);
  overflow: hidden;
  border-radius: var(--md-sys-shape-corner-small, 8px);
}

.material-checkbox-list-item__leading > :is(svg, img) {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.material-checkbox-list-item__body {
  display: grid;
  min-inline-size: 0;
}

.material-checkbox-list-item__label,
.material-checkbox-list-item__supporting-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (forced-colors: active) {
  .material-checkbox-list-item[data-selected='true'] {
    outline: 2px solid Highlight;
    outline-offset: -2px;
  }
}
