.material-list-count {
  --md-list-count-label-text-color: var(--md-sys-color-on-surface-variant);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  min-inline-size: var(--m3-list-trailing-icon-size, 24px);
  min-block-size: var(--m3-list-trailing-icon-size, 24px);
  color: var(--md-list-count-label-text-color);
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}
